<body>
    <div  class="menu-container">
      <div class="dropdown">
        <button *ngIf="!isLoggedUser()" (click)="redirectToLogin()" class="button login">Login</button>
        <button *ngIf="!isLoggedUser()" (click)="redirectToRegister()" class="button login">Register</button>
        <button *ngIf="isLoggedUser()" (click)="redirectToReservations()" class="button login">My reservations</button>
        <button *ngIf="isLoggedUser()" (click)="logout()" class="button login">Logout</button>

        <div class="dropdown-content">
        </div>
      </div>
    </div>
</body>
    <ng-template #sorryMessage>
      <div class="sorry-message">
        <p>Unauthorized</p>
      </div>
    </ng-template>