<div class="container">
  <div class="navbar">
    <a href="#overview">Overview</a>
    <a href="#rooms-prices">Rooms & prices</a>
    <a href="#facilities">Facilities</a>
    <a href="#reviews">Guest reviews ( {{reviews.length }} )</a>
  </div>
  <div class="column">
    <div id="overview" class="overview">
      <div class="card" *ngIf="hotel">
        <div class="card-body">
          <h5 class="card-title">{{ hotel.name }} <div class="star-rating">
            <img *ngFor="let star of getStars(hotel.starRating)" [src]="star" alt="Star">
          </div></h5>
          <img src="assets/location.png" class="location-image"> {{ hotel.address }} <br>
          <img src="assets/phone.png" class="location-image"> {{ hotel.phoneNumber }} <br>
          <img src="assets/email.png" class="location-image"> {{ hotel.email }} <br><br>
          <img class="hotel-image1" [src]="hotel.image" alt="Hotel Image"> <br><br>
          {{ hotel.description }}
            
        </div>
      </div>
      <!-- Postojeći deo koda -->

    </div>

    <div id="rooms-prices" class="info-and-prices">
      <div class="availability">
      <h2>Availability</h2>
      <p>Prices converted to $</p><br>
      </div>
      <div class="search-container">
        <input 
          type="date" 
          placeholder="From" 
          [(ngModel)]="startDate" 
          class="search-input">
        <input 
          type="date" 
          placeholder="To" 
          [(ngModel)]="endDate" 
          class="search-input">
        <input 
          type="number" 
          placeholder="Number of guests" 
          [(ngModel)]="guestCount" 
          class="search-input">
        <button 
          class="search-button" 
          (click)="searchRooms()">Change search</button>
      </div>
      <div *ngFor="let room of rooms" class="mb-4">
        <div class="card">
          <div class="card-body">
            <img class="images" [src]="room.image" alt="Room Image">
            <h5 class="card-title">{{ room.roomType }}</h5>
            <p class="card-text">
              {{ room.description }} <br>
              {{ room.price }}$ per night <button class="reserve-button" (click)="createReservation(room.id)">Reserve</button><br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="facilities" class="section facilities">
    <p>facilities</p>
  </div>
  
<div id="reviews">
  <h3>Reviews</h3>
  <div class="review-card" *ngIf="reviews.length > 0">
    <div class="review-content">
      <p><strong>Rating:</strong> {{ reviews[currentReviewIndex].rating }}</p>
      <p><strong>Comment:</strong> {{ reviews[currentReviewIndex].comment || 'No comment provided' }}</p>
      <p><strong>Good Comment:</strong> {{ reviews[currentReviewIndex].good_comment || 'No good comment provided' }}</p>
      <p><strong>Bad Comment:</strong> {{ reviews[currentReviewIndex].bad_comment || 'No bad comment provided' }}</p>
      <p><strong>Date:</strong> {{ reviews[currentReviewIndex].reviewDate | date:'shortDate' }}</p>
    </div>
    <div class="review-navigation">
      <button (click)="showPreviousReview()">Previous</button>
      <button (click)="showNextReview()">Next</button>
    </div>
  </div>
</div>
</div>
