<div class="container">
    <h2 class="heading">Bookings & Trips</h2>
    <div *ngFor="let reservation of reservations">
      <div *ngIf="hotels.has(reservation.id)">
        <h3>{{ trimAddress(hotels.get(reservation.id)?.address || '') }}</h3>
        <p>{{ formatDate(reservation.startDate) }} - {{ formatDate(reservation.endDate) }}</p>
        <div class="card">
            <img class="images" [src]="hotels.get(reservation.id)?.images?.[0] || 'assets/location.png'" alt="Hotel Image">
            <div class="card-details">
                <p class="hotelTitle">{{ hotels.get(reservation.id)?.name }}</p>
                <p>{{ formatDate(reservation.startDate) }} - {{ formatDate(reservation.endDate) }}  {{ trimAddress(hotels.get(reservation.id)?.address || '') }} </p>
                <p>{{ capitalizeFirstLetter(reservation.reservationStatus) }}</p>
            </div>
            <div class="card-details2">
                <button class="review-button" (click)="review(hotels.get(reservation.id)?.id || 0, reservation.id)">Write a review</button>
            </div>
        </div>
      </div> 
    </div>
  </div>
  