<img class="image1" src="assets/reservation-details.png">
<div class="container">
    <div class="left-container" *ngIf="hotel && room">
        <div class="hotel-card">
            <img class="hotel-image1" [src]="hotel.images[0]" alt="Hotel Image">
            <b class="user-heading">{{ hotel.name }}<img *ngFor="let star of getStars(hotel.starRating)" [src]="star" alt="Star" class="star-image"></b><br><br>
                
                {{ hotel.address}}<br>
                {{ room.roomType}} ROOM 
        </div>
        <div class="booking-details-card">
            <b class="user-heading">Your booking details</b>
                <div class="check-in-check-out">
                    <div class="check-in">
                        <p>Check-in </p>
                        <p><strong>{{ formatDate(startDate) }}</strong></p>
                        <p>{{ hotel.checkin }}</p>
                    </div>
                    <div class="check-out">
                        <p>Check-out</p>
                        <p><strong>{{ formatDate(endDate) }}</strong></p>
                        <p>{{ hotel.checkout }}</p>
                    </div>
                </div>
                <p>Total length of stay: {{ getNumberOfNights(startDate, endDate) }} nights</p>
                <p>You selected 1 room for {{ guestCount }} adults</p>
                <p>Total price: {{ getNumberOfNights(startDate,endDate)*room.price }} $</p>
        </div>
    </div>
    <div class="right-container">
        <div class="user-details-card">
            <b class="user-heading">Enter your details</b>
            <div class="almost-done-card">
                <p>Almost done! Just fill in the * required info</p>
            </div>
            <div class="inputs" *ngIf="user">
                <div class="inputs2">
                    <label>First name *</label>
                    <input type="firstname" name="password" [(ngModel)]="user.name" required>
                </div>
                <div class="inputs2">
                    <label>Last name *</label>
                    <input type="firstname" name="password" [(ngModel)]="user.surname" required>
                </div>
                <div class="inputs2">
                    <label>Email address *</label>
                    <input type="firstname" name="password" [(ngModel)]="user.email" required>
                </div>
                <div class="inputs2">
                    <label>Phone number *</label>
                    <input type="firstname" name="password" [(ngModel)]="user.phoneNumber" required>
                </div>
            </div>
            <p class="rgheading"><strong>Who are you booking for? </strong> (optional)</p>
            <div class="radio-group">
                
                <input type="radio" id="main-guest" name="guest" value="main" checked>
                <label for="main-guest">I am the main guest</label><br>
                
                <input type="radio" id="someone-else" name="guest" value="someone-else">
                <label for="someone-else">Booking is for someone else</label>
            </div>
            <p class="rgheading"><strong>Are you travelling for work? </strong> (optional)</p>
            <div class="radio-group">
                
                <input type="radio" id="yes" name="d" value="yes" checked>
                <label for="yes">Yes</label><br>
                
                <input type="radio" id="no" name="d" value="no">
                <label for="no">No</label>
            </div>        
        </div>
        <div class="special-requests-card">
            <input type="text" placeholder="Please write your requests in English or Serbian. (optional)">
        </div>
        <button class="search-button" (click)="redirectToNextFinalDetails()">
            Next: Final details
        </button>
    </div>
</div>