<div class="container">
    <div class="form-box login">
        <div class="form-content">
            <h2>Welcome back</h2>
            <p>Please log in using your personal information to stay connected with us.</p>
            <form action="#">
                <div class="input-field">
                    <input type="text" required [(ngModel)]="username" name="username">
                    <label>Email</label>
                </div>
                <div class="input-field">
                    <input type="password" required [(ngModel)]="password" name="password">
                    <label>Password</label>
                </div>
                <a href="#" class="forgot-pass-link">Forgot password?</a>
                <button type="submit" (click)="login()">Log In</button><br>
                <p class="error-message">{{ errorMessage }}</p>
            </form>
            <div class="bottom-link">
                Don't have an account?
                <a href="http://localhost:4200/register" id="signup-link">Signup</a>
            </div>
        </div>
    </div>
</div>