<img class="image1" src="assets/reservation-details.png">
<div class="container">
    <div class="left-container" *ngIf="hotel && room">
        <div class="hotel-card">
            <img class="hotel-image1" [src]="hotel.images[0]" alt="Hotel Image">
            <h5 class="card-title">{{ hotel.name }}<img *ngFor="let star of getStars(hotel.starRating)" [src]="star" alt="Star" class="star-image"></h5>
                
                {{ hotel.address}}<br>
                {{ room.roomType}} ROOM 
        </div>
        <div class="booking-details-card">
            <h5 class="card-title">Your booking details</h5>
                <div class="check-in-check-out">
                    <div class="check-in">
                        <p>Check-in </p>
                        <p><strong>{{ formatDate(startDate) }}</strong></p>
                    </div>
                    <div class="check-out">
                        <p>Check-out</p>
                        <p><strong>{{ formatDate(endDate) }}</strong></p>
                    </div>
                </div>
                <p>Total length of stay: {{ getNumberOfNights(startDate, endDate) }} nights</p>
                <p>You selected 1 room for {{ guestCount }} adults</p>
                <p>Total price: {{ getNumberOfNights(startDate,endDate)*room.price }} $</p>
        </div>
    </div>
    <div class="right-container">
        <div class="user-details-card">
            <h5 class="user-heading">When would you like to pay?</h5>
            <div class="radio-group">
                
                <input type="radio" id="pay-later" name="guest" value="pay-later" checked (change)="onPaymentChange('pay-later')">
                <label for="pay-later">Pay later</label><br>
                <p>The property will handle payment. The date you'll be charged depends on your booking conditions.</p>
                
                <input type="radio" id="pay-now" name="guest" value="pay-now" (change)="onPaymentChange('pay-now')">
                <label for="pay-now">Pay now</label><br>
                <p>You'll pay with Booking.com when you complete this booking.</p>
            </div>     
        </div>
        <div class="special-requests-card" *ngIf="user && showcard">
            <h5>Card informations</h5>
            <img src="assets/cards.png">
            <div class="cards">
                <div>
            <label><strong>Cardholder's Name *</strong></label><br>
            <input type="text" placeholder="{{user.name}}  {{user.surname}}"><br></div>
            <div>
            <label><strong>Card Number *</strong></label><br>
            <input type="text"></div>
            <div class="card-inputs">
            <div>
            <label><strong>Expiry Date *</strong></label><br>
            <input type="text" >
            </div>
            <div class="cvc">
            <label><strong>CVC *</strong></label><br>
            <input type="text" >
            </div>
            <div>
                </div>
        </div>
    </div>
  
</div>
<div class="checkbox-group">
    <label>
        <input type="checkbox"checked> I consent to receiving marketing emails from Booking.com, including promotions, personalised recommendations, rewards, travel experiences and updates about Booking.com’s products and services.
    </label><br>
    <label>
        <input type="checkbox"> I consent to receiving marketing emails from Booking.com, including promotions, personalised recommendations, rewards, travel experiences and updates about Booking.com Transport Limited’s products and services.
    </label>
    <button class="search-button" (click)="redirectToNextFinalDetails()">
        Complete booking
    </button>
    </div>
</div>
