.container
{
    margin-left: 250px;
    margin-top: 120px;
}

.heading
{
    font-size: 30px;
    margin-top: 50px;
}

.images
{
    height: 100px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.hotelTitle
{
    font-size: 20px;
    font-weight: bold;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 1000px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
  }

  .card-details
  {
    margin-left: 20px;
  }

  .card-details2
  {
    margin-left: 300px;
    display: flex;
    flex-direction: row;
  }

  .review-button
  {
    margin-top: 85px;
    border-radius: 5px;
    border-color: rgb(19, 153, 198);
    padding: 8px;
    color: rgb(19, 153, 198);
    background-color: white;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 25px;
  }

  .smile-image
  {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .bzvzz
  {
    width: 500px;
  }
