.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Podesi širinu kartice */
    width: 350px;
    /* Osiguraj da kartice koriste ceo raspoloživi prostor unutar kolone */
    margin-bottom: 20px;
    margin-left: 10px;
    height: 280px;
  }

  .filter-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    margin-left: 10px;
    height: 580px;
  }

  .filter-option label 
  {
    margin-left: 5px;
  }
  
  .filter-option input 
  {
    border-radius: 10px;
  }

  .filter-option
  {
    margin-top: 5px;
  }

  .location-image
  {
    height: 15px;
    width: 15px; 
    margin-right: 5px;
  }

  .images{
    width: 350px;
    height: 180px;
  }
  
  .card-title {
    font-size: 1.2rem;
  }

  
  .card-text {
    font-size: 1rem;
  }
  
  .container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap; /* Omogućava prelamanje kartica u novi red kad ne stanu */
    margin-left: 10px;
  }



  .star-img
  {
    width: 20px;
    height: 20px;
    margin-left: 3px;
  }
  
  .col-sm-4 {
    /* Ako želiš dodatni razmak između kartica */
    padding: 0 15px;
  }
  
  @media (max-width: 767.98px) {
    .col-sm-4 {
      flex: 1 0 100%; /* Na manjim ekranima kartice se prelamaju u jedan red */
    }
  }

  .star-rating {
    display: inline-flex;
    direction: ltr; /* Osigurava da se slike zvezdica prikazuju s leva na desno */
  }
  
  .star-rating img {
    width: 20px; /* Podešavanje veličine zvezdica */
    height: 20px; /* Podešavanje veličine zvezdica */
    margin-right: 2px; /* Razmak između zvezdica */
  }

  .search-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Razmak između input polja i dugmeta */
    margin: 20px 0; /* Razmak od vrha i dna */
    margin-left: 300px;
  }
  
  .search-input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
  }
  
  .search-input[type="date"] {
    width: 180px;
  }
  
  .search-button {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  