   
    <div class="container">
    <p>How was your stay at</p>
    <p class="hotels-name">{{ hotel?.name }} </p>
    <p>{{ getNumberOfNights(reservation?.startDate, reservation?.endDate) }} nights in {{ trimAddress(hotel?.address || '') }} </p>
    <p>{{ getFormattedDate(reservation?.startDate) }} - {{ getFormattedDate(reservation?.endDate) }}</p>
    <p class="question">How was your stay at {{ hotel?.name }}?</p>
    </div>
    <div class="pictures">
        <img src="assets/poor.png" alt="Poor" class="rating-image" (click)="selectRating(2)" [class.selected]="review.rating === 2" />
        <img src="assets/fair2.png" alt="Fair" class="rating-image" (click)="selectRating(3)" [class.selected]="review.rating === 3" />
        <img src="assets/good.png" alt="Good" class="rating-image" (click)="selectRating(4)" [class.selected]="review.rating === 4" />
        <img src="assets/excellent2.png" alt="Excellent" class="rating-image" (click)="selectRating(5)" [class.selected]="review.rating === 5" />
    </div>
       
    <form (ngSubmit)="submitReview()" class="forma">
        <div>
            <input type="text" id="good_comment" [(ngModel)]="review.good_comment" name="good_comment" class="input-field"
            placeholder="What was the best part of your experience?"/>
        </div>
        <div>
            <input type="text" id="bad_comment" [(ngModel)]="review.bad_comment" name="bad_comment" class="input-field"
            placeholder="Was there something that didn't meet your expectations?"/>
        </div>
        <button type="submit" class="review-button">Submit review</button><p class="message">Your review will be public. Thank you for always being courteous and helpful. <br>Can take up to 7 days appear to show.</p>
    
    </form>